<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
    <title>Cat Form</title>
</head>
<!---HEADER STARTS HERE -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/index">Pur-r-rApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/catlist">Cat Listing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/breeds">Breed Listing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add">Add cat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addbreed">Add breed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
</header>
    <body>
        <div class="maintheme">
            <h2>Add a cat</h2>
            <div class="formstyle">
                <form th:object="${cat}" action="/save" method="post">
                    <input type="hidden" id="catId" th:field="*{catId}">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}">
                    </div>
                    <div class="mb-3">
                        <label for="age" class="form-label">Age</label>
                        <input type="number" class="form-control" id="age" th:field="*{age}">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" class="form-control" id="description" rows="5" th:field="*{description}"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" id="price" th:field="*{price}">
                    </div>
                    <div class="mb-3">
                        <select id="breedlist" th:field="*{breed}" class="form-control">
                            <option th:each="breed : ${breeds}" th:value="${breed.breedId}" th:text="${breed.name}"></option>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-outline-primary" value="Save"/>
                </form>
            </div>
        </div>
    </body>
</html>