<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <title>Cat Form</title>
</head>
    <body>
        <div class="maintheme">
            <h2>Add a cat</h2>
            <div class="formstyle">
                <form th:object="${cat}" action="/save" method="post">
                    <input type="hidden" id="catId" th:field="*{catId}">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}">
                    </div>
                    <div class="mb-3">
                        <label for="age" class="form-label">Age</label>
                        <input type="number" class="form-control" id="age" th:field="*{age}">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" class="form-control" id="description" rows="5" th:field="*{description}"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" id="price" th:field="*{price}">
                    </div>
                    <input type="submit" class="btn btn-outline-primary" value="Save"/>
                </form>
            </div>
        </div>
    </body>
</html>