<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
        <link rel="stylesheet" href="/css/style.css">
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
        <title>Spring Security Login Page </title>
    </head>
<!---HEADER STARTS HERE -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Pur-r-rApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/catlist">Cat Listing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/breeds">Breed Listing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add">Add cat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addbreed">Add breed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
</header>
    <body>
        <div class="maintheme">
             <div class="col-md-4 col-md-offset-4">
                <div class="alert alert-danger" th:if="${param.error}">
                    Invalid username and password.
                </div>
                <div class="alert alert-warning" th:if="${param.logout}">
                    You have been logged out.
                </div>
                <div class="formstyle">
                    <form th:action="@{/login}" method="post">
                        <div class="mb-3"><label class="form-label"> User Name : <input type="text" name="username" class="form-control"/> </label></div>
                        <div class="mb-3"><label class="form-label"> Password: <input type="password" name="password" class="form-control"/> </label></div>
                        <div><input type="submit" value="Sign In" class="btn btn-primary"/></div>
                    </form>
                    <a th:href="@{/signup}">Sign-up</a>
                </div>
               </div>
        </div>
    </body>
</html>